html, body {
  height: 100%;
}

body {
  display: flex;
  #background-image: url('/static/pytorch.jpg');
  background-size: cover;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-color: #c91f82;
}

.form-signin {
  max-width: 800px;
  padding: 15px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.form-signin .form-control {
  height: auto;
  font-size: 16px;
}

.form-control-file {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
